<!doctype html>
<html>
    <head>
        <title>CSV to JSON converter</title>
        <style>            
            .center {
                font-family: sans-serif;
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        </style>
    </head>
    <body>
        <div class="center">
            <h1>Upload your CSV file</h1>
            <form method="POST" action="" enctype="multipart/form-data">
                <div>
                    <p><input type="file" name="file"></p>
                    <p><input type="submit" value="Submit"></p>
                </div>
            </form>
        </div>
    </body>
</html>